table
  tr
    th(width='90') 日時
    th(width='150') 場所
    th(width='60') タイトル
    th(width='310') メモ
  tr
    td
      | 11/17(土)PM
    td
      | 各コミュニティー会場
    td
      | Ideathon
    td
      | ・グループわけ
      br
      | ・各グループでのアイデア出し、設計
      br
      | ・アイデア発表
      br
  tr
    td
      | 11/18(日)
      br
      | から
      br
      | 11/24(土)AM
    td
      | 各自好きな場所で
    td
      | Ideathon
      br
      | 実装
    td
      | この間にグループそれぞれでの設計、実装を進めてください。
      | 11/23,24は沖縄で集まって作業ができる場所を確保する予定です。
  tr
    td
      | 11/24(土)PM
    td
      | 沖縄のどこか
    td
      | Hackathon発表
    td
      | ・グループ毎の作品発表(各3〜10分)
      br
      | ・全員で投票、最優秀作品決定
      br
  tr
    td
      | 11/24(土)夜
    td
      | 沖縄のどこか
    td
      | 懇親会
    td
      | 食べたり飲んだり
  tr
    td
      | 11/24(土)夜
    td
    td
      | 解散
    td
  tr
    td
      | 11/25(日)
    td
    td
      | 帰宅・観光など
    td
      | 特にこちらで団体観光の計画はありません。
      br
      | みなさまでお楽しみください。
